@import "~styles/imports/index";

.result {
}

.background {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.marqueeLeft,
.marqueeRight {
  background: $color-black;
  padding: 0 scaleVw(7);
  position: absolute;
  transform-origin: top left;
  width: 100vh;

  .marqueeSideText {
    @extend %t--h3;

    color: $color-white;
    letter-spacing: .08em;
    text-transform: uppercase;
  }
}

.marqueeLeft {
  left: 0;
  top: 100%;
  transform: rotate(-90deg);
}

.marqueeRight {
  left: 100%;
  top: 0;
  transform: rotate(90deg);
}

.score {
  @extend %t--h1;

  display: inline-block;
  line-height: 1;
  padding: .1em .1em .2em;
  text-align: center;
  width: 2.2em;

  &--p1 {
    background: $color-yellow;
  }

  &--p2 {
    background: $color-pink;
  }
}

.scores {
  left: 50%;
  position: absolute;
  top: scaleVw(75);
  transform: translateX(-50%);

  &--p1 {
    left: 60%;

    .score--p1 {
      @extend %shadow-box-large;

      font-size: scaleVw(130);
    }

    .score--p2 {
      @extend %shadow-box-small;

      font-size: scaleVw(50);
      left: calc(100% - #{scaleVw(4)});
      position: absolute;
      top: calc(100% - #{scaleVw(4)});
      z-index: 1;
    }
  }

  &--p2 {
    left: 40%;

    .score--p1 {
      @extend %shadow-box-small;

      font-size: scaleVw(50);
      position: absolute;
      right: calc(100% - #{scaleVw(4)});
      top: calc(100% - #{scaleVw(4)});
      z-index: 1;
    }

    .score--p2 {
      @extend %shadow-box-large-left;

      font-size: scaleVw(130);
    }
  }

  &--tie {
    .score {
      @extend %shadow-box;

      font-size: scaleVw(70);
    }

    .score--p1 {
      border-right: 0;
    }
  }
}

.banner {
  align-items: center;
  background: $color-yellow;
  bottom: 0;
  display: flex;
  height: scaleVw(140);
  justify-content: space-around;
  left: 0;
  position: absolute;
  right: 0;

  .titleMain {
    height: scaleVw(150 * .95);
    width: scaleVw(1024 * .95);
  }

  .button {
    margin-left: scaleVw(30);
  }

  &--p1 {
    background: $color-red;
  }

  &--p2 {
    background: $color-green;
  }
}
