@import "~styles/imports/index";

.result {
}

.background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: grid(12);
  height: grid(12);
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: $color-black;
  border-width: grid(.05);
  background-color: $color-white;
  overflow: hidden;
}

.titleWrapper {
  background-color: $color-black;
  height: grid(2);
}

.title {
  @extend %Bold;

  font-size: responsive-font(80);
}

.timebar {
  animation: final-timebar 13s linear 1 both;
  background-color: $color-green;
  height: grid(.3);

  @keyframes final-timebar {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
  }
}

.resultTimebar {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
}

.player {
  @extend %Bold;

  font-size: responsive-font(40);
  text-align: center;
  margin-top: grid(.5);
}

.playersImages:not(.playersImagesTied) {
  .playerAvatar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: grid(4);
    transform: translate(-50%, -50%);
  }
}

.playersImages.playersImagesTied {
  position: relative;
  display: flex;
  height: grid(4);
  width: 100%;
  justify-content: space-around;
  margin-top: grid(1);

  .playerAvatar {
    height: 100%;
  }
}

.score {
  @extend %Bold;

  bottom: grid(.3);
  font-size: responsive-font(120);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.circle {
  position: absolute;
  bottom: 0;
  width: grid(6);
  height: grid(6);
  left: 50%;
  border-radius: 50%;
  border-style: solid;
  border-color: $color-black;
  border-width: grid(.05);
  transform: translate(-50%, 50%);
}