[class*="text"] {
  line-height: 1;
}

[class*="-14"] {
  font-size: responsive-font(14);
}

[class*="-16"] {
  font-size: responsive-font(16);
  letter-spacing: 0.2em;
}

[class*="-24"] {
  font-size: responsive-font(24);
}

[class*="-32"] {
  font-size: responsive-font(32);
}

[class*="-48"] {
  font-size: responsive-font(48);
}

[class*="-56"] {
  font-size: responsive-font(56);
}

[class*="-64"] {
  font-size: responsive-font(64);
}

[class*="-80"] {
  font-size: responsive-font(80);
}

[class*="-112"] {
  font-size: responsive-font(112);
}

[class*="-120"] {
  font-size: responsive-font(120);
}

[class*="-200"] {
  font-size: responsive-font(200);
}

.text-hollow {
  line-height: 1em;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}