@import "~styles/imports/index";

.jumpUpText {
  @extend %Bold;

  color: white;
  font-size: responsive-font(120);
  line-height: .8em;
  pointer-events: none;
  position: relative;
  text-align: center;
  -webkit-text-stroke-color: $color-black;
  -webkit-text-stroke-width: $border-width;
  width: 100%;
}

.letter {
  display: inline-block;
}