@import "~styles/imports/index";

.jumpUpText {
  @extend %t--h1;
  @extend %t--style-lg-shadow;

  color: $color-white;
  line-height: 1.4em;
  padding: 0 1em;
  pointer-events: none;
  position: relative;
  text-align: center;
  width: 100%;
}

.letter {
  display: inline-block;
}