.intro {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  @keyframes blink-color {
    0% {
      color: transparent;
    }
    50% {
      color: $color-red;
    }
    100% {
      color: transparent;
    }
  }

  &__round {
    align-items: flex-end;
    display: flex;
    height: grid(6);
    margin-top: grid(-2.4);
    overflow: hidden;
    position: relative;

    &.blink {
      animation: blink-color 0.1s linear 6 forwards;
      -webkit-text-stroke-width: grid(0.06);
      -webkit-text-stroke-color: $color-black;
    }

    span {
      display: inline-block;
      line-height: 1;
      min-width: grid(0.8);
      vertical-align: bottom;
    }
  }

  &__itemToFind {
    // opacity: 0;

    &__img {
      height: grid(2);
      width: grid(2);
      opacity: 0;
    }

    &__text {
      width: grid(6);
      line-height: 1.2;
      margin-bottom: grid(0.4);
      opacity: 0;
    }
  }

  &__circle {
    border: grid(0.3) solid $color-black;
    border-radius: 50%;
    width: grid(11);
    height: grid(11);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &__ready-wrapper {
    line-height: 1;
    position: relative;
    overflow: hidden;
  }

  &__ready {
    transform: translateY(-100%);
  }

  &__set {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
  }

  &__go {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
