.scene {
  background-position: center center;
  background-size: cover;
  cursor: none;
  height: grid(14);
  position: relative;
  text-align: center;

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__placeholder {
    height: 0;
    opacity: 0;
    padding-bottom: calc(630 / 1200  * 100%);
    pointer-events: none;
    position: relative;
    width: 100%;
  }
}