.scene {
  cursor: none;
  position: relative;
  text-align: center;

  &__wrapper {
    position: relative;
  }

  &__placeholder {
    opacity: 0;
    pointer-events: none;
    position: relative;
    width: 100%;
  }
}