@keyframes switch {
  0% {
    background-color: $color-green;
    width: 100%;
  }
  25% {
    background-color: $color-blue;
    width: 75%;
  }
  50% {
    background-color: $color-pink;
    width: 50%;
  }
  75% {
    background-color: $color-orange;
    width: 25%;
  }
  100% {
    background-color: $color-red;
    width: 0%;
  }
}

.score {
  display: flex;
  justify-content: space-between;
  padding: grid(2) 30px;
  position: relative;
  height: grid(4);

  &::after {
    content: '';
    animation: switch 30s linear infinite;
    height: 10px;
    left: 0;
    position: absolute;
    top: -10px;
    width: 100%;
    z-index: 10;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 50%;
    border-width: 2px;
    margin: 20px 5px 0px 0px;
    width: 50px;
  }

  &__recap {
    max-width: 44%;
    text-align: left;
  }

  &__center {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%);
  }

  &__line {

  }
}