@import "~styles/imports/index";

.preConnect {
  background: $color-pink;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  overflow: hidden;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.tokenDisplay {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0 20px 10px;
  position: relative;
  text-align: center;

  .tokenDisplayInner {
    @extend %t--h1;
    @extend %t--style-lg-shadow;
  }
}

.label {
  @extend %t--body;

  color: $color-red;
  flex-grow: 0;
  flex-shrink: 0;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase;
}

.tokenInput {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  margin: 10px auto;
  transition: opacity .15s;
  width: 254px;

  &.isConnecting {
    opacity: .5;
    pointer-events: none;
  }
}

.tokenInputKey {
  margin-bottom: 12px;
}

.instruction {
  @extend %t--body-small;

  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 20px;
}

.placeholder1 {
  flex-grow: 0;
  flex-shrink: 1;
  height: 12px;
}

.placeholder2 {
  flex-grow: 0;
  flex-shrink: 1;
  height: 17px;
}

.placeholder3 {
  flex-grow: 0;
  flex-shrink: 1;
  height: 33px;
}

.instructionOverlay {
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.instructionOverlayBg {
  height: 100%;
  left: 50%;
  min-height: 1920 / 1080 * 100vw;
  min-width: 1080 / 1920 * 100vh;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

.marquee {
  @extend %t--body-small;

  background: $color-purple;
  color: $color-red;
  flex-grow: 0;
  flex-shrink: 0;
  letter-spacing: .1em;
  padding: 8px 0;
  position: relative;
  text-transform: uppercase;
}

.overlayContent {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  height: 440px;
  justify-content: center;
  padding: 20px 10px;
  position: relative;
}

.overlayTitle {
  margin: 0 auto;
  width: 283px;
}

.overlayTitleInner {
  @extend %t--h3;
  @extend %t--style-sm-shadow;

  display: block;
}

.overlaySubtitle {
  @extend %t--body-small;

  color: $color-white;
  margin: 30px 20px 40px;
}

.overlayCharacters {
  flex-grow: 0;
  flex-shrink: 0;
  height: 133px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media only screen and (max-width: 374px) {
    display: none;
  }

  @media only screen and (max-height: 660px) {
    display: none;
  }
}

.character1 {
  bottom: -35px;
  height: 175px;
  left: -45px;
  position: absolute;
  transform: rotate(10deg);
  width: 175px;
}

.character2 {
  bottom: -60px;
  height: 175px;
  position: absolute;
  right: -54px;
  width: 175px;
}

@media only screen and (max-width: 359px) {
  .marquee {
    display: none;
  }

  .overlaySubtitle {
    margin: 20px;
  }

  .overlayButtonInner {
    font-size: 20px !important;
    line-height: 28px !important;
  }

  :global(.is-control-device) .overlayButtonCard {
    padding: 12px 18px !important;
  }

  :global(.is-control-device) .tokenDisplay .tokenDisplayInner {
    font-size: 60px;
    line-height: 72px;
  }

  :global(.is-control-device) .tokenInputKeyCard {
    padding: 6px !important;
  }

  @media only screen and (max-height: 550px) {
    .instruction {
      display: none;
    }
  }
}
