@import "~styles/imports/index";

.result {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  left: 0;
  padding-top: 27px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;

  &--p1 {
    background: $color-yellow;

    .shares {
      background: $color-pink;
    }
  }

  &--p2 {
    background: $color-pink;

    .shares {
      background: $color-green;
    }
  }
}

.title {
  @extend %t--h2;
  @extend %t--style-sm-shadow;

  flex-grow: 0;
  flex-shrink: 0;
}

.character {
  flex-grow: 1;
  flex-shrink: 1;
  height: 100px;
  margin: 0 auto;
  width: 320px;
}

.resetButton {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 31px;
}

.shares {
  border-top: 4px solid $color-black;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px 0 30px;
  width: 100%;
}

.shareTitle {
  @extend %t--h3;

  color: $color-black;
  margin-bottom: 20px;
}

.shareTwitter {
  margin-left: 22px;
  margin-right: 12px;
}
