@import "../../../../styles/imports/index";

section.result {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 70px;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.winner {
  border: 1px solid $color-black;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  width: 85vw;

  @media only screen and (max-height: 630px) {
    width: 60vw;
  }

  .marquee {
    @extend %Bold;
  
    background: $color-black;
    color: $color-white;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 50px;
    padding: 12px 0 9px;
    text-transform: uppercase;
  }
}

.imageWrapper {
  align-items: center;
  background: $color-white;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;

  video {
    width: 70%;
  }
}

.winnerTied {
  .marquee {
    &:first-of-type {
      span {
        animation-name: infinite-text-16;
        width: 8em;
      }
    }

    &:last-of-type {
      span {
        animation-name: infinite-text-21;
        width: 10.5em;
      }
    }
  }
}

.winnerWon {
  .marquee {
    &:first-of-type {
      span {
        animation-name: infinite-text-15;
        width: 7.5em;
      }
    }

    &:last-of-type {
      span {
        animation-name: infinite-text-14;
        width: 7em;
      }
    }
  }
}

.winnerLost {
  .marquee {
    &:first-of-type {
      span {
        animation-name: infinite-text-18;
        width: 9em;
      }
    }

    &:last-of-type {
      span {
        animation-name: infinite-text-14;
        width: 7em;
      }
    }
  }
}

@keyframes infinite-text-14 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-14em);
  }
}

@keyframes infinite-text-15 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15em);
  }
}

@keyframes infinite-text-16 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-16em);
  }
}

@keyframes infinite-text-18 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-18em);
  }
}

@keyframes infinite-text-21 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-21em);
  }
}

.smallText {
  @extend %Regular;

  font-size: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 27px 0;
}

.button {
  @extend %Bold;

  background: $color-yellow;
  border: 1px solid $color-black;
  letter-spacing: 0.024em;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 32px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}