@import "~styles/imports/index";

.roundWrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.background {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.round {
  @extend %shadow-box;

  background: $color-black;
  box-sizing: content-box;
  height: 9 / 16 * 100vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 100vw;
  z-index: 1;
}

.roundExiting {
  z-index: 0;
}

.wrapper {
  height: 100%;
  position: relative;
}
