@import "~styles/imports/index";

.round {
  @extend %shadow-box;

  height: 9 / 16 * 100vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 100vw;
  z-index: 1;
}

.roundExiting {
  z-index: 0;
}

.wrapper {
  height: 100%;
  position: relative;
}
