<!-- big cursor -->
<section class="game" game>
  <!-- playing scene -->
  <div class="scene" scene>
    <div class="scene__wrapper">
      <!-- svg scene for masks etc... -->
      <svg class="scene-svg" viewBox="0 0 1920 840" stroke="black">
        <defs>
          <clipPath class="scene-svg__clippath">
            <use xlink:href="#player1" />
            <use xlink:href="#player2" />
          </clipPath>
        </defs>
        <path id="player1" class="cursor" stroke-width="6"></path>
        <path id="player2" class="cursor" stroke-width="6"></path>
        <g class="scene-svg__clippath-ref" width="1920px" height="1080px">
          <image class="scene-svg__image" width="1920px" height="1080px" />
        </g>
      </svg>
    </div>
    <div class="intro">
      <div class="intro__round t-200--bold color--red">
      </div>
    </div>
  </div>
  <!-- score board -->
  <div class="board">
    <div class="board__player">
      <div class="board__player__character">
        <img src="../../assets/front-end/images/character1.png" alt="">
      </div>
      <div class="board__player__score color--purple t-80--bold">
        00
      </div>
      <div class="board__player__name t-48--bold">
        Player 1
      </div>
      <div class="board__player__items">

      </div>
    </div>
    <div class="board__center bkg--black">
      <div class="board__center__timer t-112--bold color--white">

      </div>
    </div>
    <div class="board__player">
      <div class="board__player__character">
        <img src="../../assets/front-end/images/character2.png" alt="">
      </div>
      <div class="board__player__score color--red t-80--bold">
        00
      </div>
      <div class="board__player__name t-48--bold">
        Player 2
      </div>
      <div class="board__player__items">

      </div>
    </div>
  </div>
</section>