@import "~styles/imports/index";

.gameZone {
  cursor: none;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%; // keep game ratio
  z-index: 10;
}

.gameZoneTutorial {
  @extend %shadow-box;
  background: $color-yellow url('../../../../assets/images/tutorial/background.png') center / contain no-repeat;
}
