@import "~styles/imports/index";

.tutorial {
  color: $color-black;
}

.video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.welcome {
  font-size: responsive-font(56);
  padding-top: 48/$base-width*100vw;
}

.gameZone {
  cursor: none;
  height: grid(8);
  position: absolute;
  right: grid(1);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: grid(8 * 32 / 14);
  z-index: 10;
}

