@import "~styles/imports/index";

.tutorial {
  background-color: $color-purple;
  color: $color-white;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: grid(2);
  margin-right: grid(1);
}

.heading {
  width: grid(8);

  .title {
    @extend %Bold;

    font-size: responsive-font(56);
    margin-bottom: grid(.5);
  }

  .description {
    @extend %Regular;

    font-size: responsive-font(20);
    line-height: 1.4em;
    margin-bottom: grid(1);
  }

  .image {
    height: grid(4);
    width: grid(4);
  }
}

