@import "~styles/imports/index";

.characterConfirm {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  left: 0;
  padding-top: 56px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .1s;
}

.text {
  color: $color-white;
  flex-grow: 0;
  flex-shrink: 0;

  .title {
    @extend %Bold;

    font-size: 40px;
    letter-spacing: .024em;
    text-transform: uppercase;
  }

  .subtitle {
    @extend %Regular;

    font-size: 16px;
    margin-top: 40px;
    text-align: center;
  }
}

.block {
  align-items: center;
  background-color: $color-white;
  border: 1px solid $color-black;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  height: 85vw;
  justify-content: center;
  margin: 20px 0;
  width: 85vw;

  @media only screen and (max-height: 630px) {
    height: 60vw;
    width: 60vw;
  }
}

.video {
  width: 90%;
}

.placeholder {
  flex-grow: 1;
  flex-shrink: 0;
}

.button {
  @extend %Bold;

  background: $color-mint;
  border: 1px solid $color-black;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 40px;
  letter-spacing: .025em;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}