.final,
.error {


  &__timebar {

  }
}

.final {
  &__player {
    text-align: center;
    margin-top: grid(0.5);
  }

   &__players-img:not(.tie) {
    .final__player-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: grid(4);
      transform: translate(-50%, -50%);
    }
   }

  &__players-img.tie {
    position: relative;
    display: flex;
    height: grid(4);
    width: 100%;
    justify-content: space-around;
    margin-top: grid(1);

    .final__player-img {
      height: 100%;
    }
  }

  &__score {
    position: absolute;
    bottom: grid(.3);
    left: 50%;
    transform: translateX(-50%);
  }

  &__circle {
    position: absolute;
    bottom: 0;
    width: grid(6);
    height: grid(6);
    left: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: $color-black-full;
    border-width: grid(0.05);
    transform: translate(-50%, 50%);
  }
}