.setup {
  .instruction {
    overflow: hidden;
    padding: 100/1920*100vw 593/1920*100vw 40/1920*100vw;
    position: relative;

    &.is-started {
      .instruction__letsplay {
        opacity: 1;
      }
    }
  }

  // TODO: actually remove this
  .instruction__text {
    font-size: responsive-font(36);
    line-height: responsive-font(53);
    opacity: 0;
    pointer-events: none;
  }

  .instruction__letsplay {
    bottom: 0;
    left: 0;
    line-height: .8em;
    -webkit-text-fill-color: $color-white-full;
    -webkit-text-stroke-color: $color-black-full;
    -webkit-text-stroke-width: 2px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition: opacity .2s;
    width: 100%;

    span {
      display: inline-block;
    }
  }
}
