.tutorial {
  color: $color-black-full;
  height: 100%;
  position: absolute;
  width: 100%;

  video {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__card {
    background-color: #FFFAF2;
    border-style: solid;
    border-color: $color-black-full;
    border-width: grid(0.05);
    height: grid(9);
    left: 50%;
    position: absolute;
    text-align: center;
    top: grid(3);
    transform: translateX(-50%);
    width: grid(17.5);

    &[data-step="1"] .step-1,
    &[data-step="2"] .step-2,
    &[data-step="3"] .step-3 {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__header {
    border-bottom: grid(0.05) solid $color-black-full;
    height: grid(1.5);
    padding-top: grid(.35);
  }

  &__content {
    left: 0;
    padding: grid(.6) grid(1.6);
    position: absolute;
    pointer-events: none;
    opacity: 0;
    right: 0;
    top: grid(1.5);
    transition: opacity .3s;

    img {
      height: grid(1);
      margin-bottom: grid(.5);
    }

    &__text {
      line-height: 1.4;
    }
  }

  &__timebar {
    border: grid(0.05) solid $color-black-full;
    bottom: grid(1);
    left: 50%;
    padding: grid(.2) 0 grid(.16);
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: grid(5);

    &__color {
      background: $color-green;
      bottom: 0;
      left: 0;
      position: absolute;
      top: 0;
      transition: width .1s;
      z-index: -1;
    }
  }

  .marquee {
    padding-top: 48/1920*100vw;
    white-space: nowrap;

    div {
      animation: marquee 6s infinite linear;
      display: inline-block;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }
    }
  }
}