@import "~styles/imports/index";

.text-18 {
  font-size: responsive-font(18);

  &--bold {
    font-size: responsive-font(18);
    @extend %Bold;
  }
}

.text-80 {
  font-size: responsive-font(80);

  &--bold {
    font-size: responsive-font(80);
    @extend %Bold;
  }
}

.text-48 {
  font-size: responsive-font(48);

  &--bold {
    font-size: responsive-font(48);
    @extend %Bold;
  }
}

.text-112 {
  font-size: responsive-font(112);

  &--bold {
    font-size: responsive-font(112);
    @extend %Bold;
  }
}
