@import "~styles/imports/index";

.play {
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  padding: 20px 0 24px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
}

.top {
  align-items: center;
  display: flex;
  height: 135px;
  justify-content: center;

  .button {
    text-transform: none;
  }
}

.touchBubble {
  border: 2px $color-white solid;
  border-radius: 50%;
  height: 74px;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%) scale(.2);
  transition: opacity .3s, transform ease-in-out .1s;
  width: 74px;

  &.touchBubbleVisible {
    opacity: 1;
    transform: translate(-50%, -50%);
    // transition: opacity .3s, transform ease-in-out .3s, left .1s, top .1s;
    transition: opacity .3s;
  }
}

.score {
  pointer-events: none;
}

.touchZone {
  flex-grow: 1;
  padding: 20px 5vw 24px;
  position: relative;
}

.block {
  border: 1px solid $color-black;
  height: 100%;
  position: relative;
  width: 100%;
}

.image {
  bottom: 4px;
  height: 100px;
  position: absolute;
  right: 0;
}

.score {
  left: 50%;
  opacity: .2;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
