@import "~styles/imports/index";

.play {
  background: $color-purple;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: background .2s;

  &.isReady {
    .top {
      pointer-events: none;
    }
  }

  &.isGameStarted {
    background: $color-green;
  }
}

.top {
  align-items: center;
  display: flex;
  height: 135px;
  justify-content: center;
  padding: 0 30px;
  text-align: center;

  .button {
    text-transform: none;
  }

  .hurryUp {
    @extend %t--body-small;

    color: $color-white;
  }
}

.touchBubble {
  border: 4px $color-white solid;
  border-radius: 50%;
  height: 74px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%) scale(.2);
  transition: opacity .3s, transform ease-in-out .1s;
  width: 74px;

  &.touchBubbleVisible {
    opacity: 1;
    transform: translate(-50%, -50%);
    // transition: opacity .3s, transform ease-in-out .3s, left .1s, top .1s;
    transition: opacity .3s;
  }

  &--red {
    border-color: $color-red;
  }

  &--purple {
    border-color: $color-purple;
  }
}

.scoreTitle {
  @extend %t--body-small;

  line-height: .1em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.score {
  @extend %t--h2;
  @extend %t--style-sm-shadow;
}

.blockWrapper {
  flex-grow: 1;
  overflow: hidden;
  padding: 0 30px 30px;
  pointer-events: none;
  position: relative;
}

.character {
  height: 250px;
  position: absolute;
  width: 250px;

  &--p1 {
    bottom: -50px;
    left: -60px;
    transform: rotate(15deg);
  }

  &--p2 {
    bottom: -85px;
    left: -60px;
  }
}

.block {
  background: $color-white url('../../../../assets/images/mobile/touch-background.png') center / 100% auto no-repeat;
  border: 4px solid $color-black;
  height: 100%;
  position: relative;
  width: 100%;
}

.instruction {
  align-items: center;
  background: rgba($color-purple, .5);
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  left: 0;
  padding: 30px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;
}

.instructionMouth {
  display: block;
  height: 107px;
  margin-bottom: 20px;
}

.instructionTitle {
  @extend %t--h3;
  @extend %t--style-tiny-shadow;

  margin-bottom: 16px;
  width: 100%;
}

.instructionSubtitle {
  @extend %t--body-small;
}
