@import "~styles/imports/index";

@keyframes playstage-blink-bar-color {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gameContentTutorial {
  height: grid(8);
  position: relative;
  width: grid(8 * 32 / 14);
}

.gameContentGame,
.gameContentBackground {
  box-sizing: border-box;
  height: grid(14);
  width: 100%;
}

.gameContentBackground {
  background: $color-white;
  left: 0;
  position: absolute;
  top: 0;
}

.gameContentGame {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 10;
}

.readyCtaWrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: scaleVw(-14);
  margin-top: grid(.5);
}

.readyIndicators {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: grid(.5);

  .readyIndicatorsTitle {
    @extend %t--h2;
    @extend %t--style-sm-shadow;

    color: $color-white;
    order: 2;
  }

  .readyIndicatorWrapper {
    margin-right: scaleVw(-16);
    overflow: hidden;
    padding: 0 scaleVw(16) scaleVw(16) 0;

    &--p1 {
      order: 1;

      .readyIndicatorCharacter {
        left: -25%;
        top: -20%;
        transform: rotate(25deg);
      }
    }

    &--p2 {
      order: 3;

      .readyIndicatorCharacter {
        right: -28%;
        top: -34%;
        transform: rotate(-140deg);
      }
    }
  }

  .readyIndicator {
    @extend %shadow-box;

    height: scaleVw(173);
    opacity: .7;
    pointer-events: none;
    position: relative;
    transition: opacity .3s, transform .15s ease-in-out;
    width: scaleVw(236);

    &.isReady {
      opacity: 1;
    }

    &--red {
      background: $color-red;
    }

    &--purple {
      background: $color-purple;
    }
  }

  .readyIndicatorInner {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }

  .readyIndicatorCharacter {
    height: scaleVw(250);
    position: absolute;
    width: scaleVw(250);
  }
}