@import "~styles/imports/index";

@keyframes playstage-blink-bar-color {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.gameContentTutorial {
  height: grid(8);
  position: relative;
  width: grid(8 * 32 / 14);
}

.gameContent {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  height: grid(14);
  position: relative;
  width: 100%;
  z-index: 10;
}

.readyIndicators {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: grid(.5);

  .readyIndicatorsTitle {
    @extend %t--h2;
    @extend %t--style-lg-shadow;

    color: $color-white;
    order: 2;
  }

  .readyIndicator {
    @extend %shadow-box;

    height: scaleVw(173);
    opacity: .7;
    transition: opacity .3s;
    width: scaleVw(236);

    &.isReady {
      opacity: 1;
    }

    &--1 {
      order: 1;
    }

    &--2 {
      order: 3;
    }
  }
}