@import "~styles/imports/index";

.mode {
  color: $color-black;
}

.video {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.welcome {
  font-size: responsive-font(56);
  padding-top: 48/$base-width*100vw;
}

.modeCard {
  background-color: #fffaf2;
  border-color: $color-black;
  border-style: solid;
  border-width: grid(.05);
  height: grid(9);
  left: 50%;
  position: absolute;
  text-align: center;
  top: grid(4);
  transform: translateX(-50%);
  width: grid(17.5);
}

.modeHeader {
  @extend %Bold;

  border-bottom: grid(.05) solid $color-black;
  font-size: responsive-font(56);
  height: grid(1.5);
  padding-top: grid(.35);
}

.modeContent {
  @extend %Bold;

  align-items: center;
  display: flex;
  font-size: responsive-font(48);
  height: calc(100% - #{grid(1.5)});
  justify-content: space-around;
}

.modeOption {
  cursor: pointer;
  text-align: center;
  width: 42%;
}