@import "~styles/imports/index";

@keyframes change-color {
  0% {
    background-color: $color-green;
    width: 100%;
  }
  50% {
    background-color: $color-orange;
    width: 50%;
  }
  75% {
    background-color: $color-red;
  }
  100% {
    background-color: $color-red;
    width: 0%;
  }
}

@keyframes blink-bar-color {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scene {
  background-position: center center;
  background-size: cover;
  cursor: none;
  height: grid(14);
  position: relative;
  text-align: center;
  z-index: 10;

  .sceneStarted & {
    &::after {
      animation: change-color 40s linear infinite forwards, blink-bar-color 1s linear infinite forwards 30s;
    }
  }

  &::after {
    background-color: $color-green;
    bottom: 0;
    content: '';
    height: grid(0.3);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
  }
}


.frontBkg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.reveal {
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: clip-path 1.3s $circ-in-out;
  width: 100%;
  z-index: 0;

  .isOutro & {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}

.wrapper {
  height: 100%;
  position: relative;

  &::after {
    background-color: white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 1.3s $circ-in-out;
    transform: scaleX(0);
    transform-origin: 0% center;
    width: 100%;
    z-index: 9;

    .isIntro & {
      transition: transform 1.3s $circ-in-out;
      transform: scaleX(1);
    }
  }
}

.svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  #player1 {
    stroke: $color-purple;
  }

  #player2 {
    stroke: $color-red;
  }

  .cursor {
    stroke-width: grid(0.2);
    transition: stroke 1s ease;

    &.frozen {
      stroke: $color-gray !important;
    }

    &.good {
      fill: green !important;
    }

    &.wrong {
      fill: red !important;
    }
  }
}

.svgClipPathRef {
  // opacity: 0;
}

.svgImage {
  // opacity: 0.5;
}

.intro {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  &:first-child {
    overflow: visible;
    z-index: 11;
  }

  video {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  @keyframes blink-color {
    0% {
      color: transparent;
    }
    50% {
      color: $color-red;
    }
    100% {
      color: transparent;
    }
  }
}

.introRound {
  align-items: flex-end;
  display: flex;
  height: grid(6);
  margin-top: grid(-2.4);
  overflow: hidden;
  position: relative;
  z-index: 10;

  &.blink {
    color: white;
    animation: blink-color 0.1s linear 6;
    -webkit-text-stroke-width: grid(0.06);
    -webkit-text-stroke-color: $color-black;
  }

  span {
    display: inline-block;
    line-height: 1;
    min-width: grid(0.8);
    vertical-align: bottom;
  }
}

.introItemToFindText {
  width: grid(6);
  line-height: 1.2;
  margin-top: grid(-2);
  opacity: 0;
  position: relative;
  z-index: 10;
}

.introCircle {
  background-color: white;
  border: grid(0.3) solid $color-black;
  border-radius: 50%;
  width: grid(11);
  height: grid(11);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(4);
  opacity: 1;
  z-index: 10;
}

.introReadyWrapper {
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.introReady {
  transform: translateY(-100%);
}

.introSet {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}

.introGo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
