@import "~styles/imports/index";

.buttonWrap {
  display: inline-block;
  overflow: hidden;
}

@keyframes button-hover {
  from {
    transform: none;
  }

  50% {
    transform: translate(#{scaleVw(5)}, #{scaleVw(5)});
  }

  to {
    transform: none;
  }
}

.button {
  cursor: pointer;
  display: block;
  padding: 0 scaleVw(22) scaleVw(22) 0;
  position: relative;
  transition:
    padding .4s $easing-quad-out,
    transform .4s $easing-quad-out;

  &:focus {
    outline: none;
  }

  &.isSmallShadow {
    padding: 0 scaleVw(14) scaleVw(14) 0;
  }

  :global(.is-display-device) & {
    &:hover {
      animation: button-hover .3s 1 ease-in-out;
    }

    &:active {
      transform: translate(#{scaleVw(22)}, #{scaleVw(22)});
    }

    &.isSmallShadow:active {
      transform: translate(#{scaleVw(14)}, #{scaleVw(14)});
    }
  }

  .buttonInner {
    @extend %t--h3;
    @extend %shadow-box-button;

    position: relative;
    text-transform: uppercase;
  }

  .buttonCard {
    background: $color-white;
    color: $color-black;
    padding: scaleVw(22) scaleVw(20);
    position: relative;
    transition: background .2s ease;
    z-index: 1;

    :global(.is-control-device) & {
      padding: 22px 20px;
    }

    &.isIcon {
      padding: scaleVw(9);

      :global(.is-control-device) & {
        padding: 0;
      }

      .icon {
        display: block;
        width: scaleVw(60);

        :global(.is-control-device) & {
          width: 76px;
        }
      }
    }
  }

  :global(.is-control-device) & {
    padding: 0 22px 22px 0;

    &:focus,
    &:active {
      transform: translate(22px, 22px);
    }

    &.isSmallShadow {
      padding: 0 14px 14px 0;

      &:focus,
      &:active {
        transform: translate(14px, 14px);
      }
    }
  }

  &.isMute {
    padding: 0 scaleVw(8) scaleVw(8) 0;

    &:focus,
    &:active {
      transform: translate(#{scaleVw(8)}, #{scaleVw(8)});
    }

    .buttonCard {
      padding: 0;

      .icon {
        width: scaleVw(38);
      }
    }
  }

  &.isKeyPad {
    .buttonInner {
      @extend %t--number-pad;
    }

    :global(.is-control-device) & {
      padding: 0 8px 8px 0;

      &:focus,
      &:active {
        transform: translate(8px, 8px);

        .buttonCard {
          background: $color-green;
        }
      }

      .buttonCard {
        align-items: center;
        display: flex;
        height: 64px;
        justify-content: center;
        padding: 12px;
        width: 64px;
      }

      &.isFullWidth {
        .buttonCard {
          width: 236px;
        }
      }
    }
  }
}