.debug {
  background-color: black;
  border-radius: 50%;
  // display: none;
  height: 20px;
  position: absolute;
  transform: translate(-50%,-50%);
  width: 20px;

  &--power {
    background-color: red;
  }
}