@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.message {
  animation: fadeIn 1s $ExpoEaseOut forwards, fadeOut 1s $ExpoEaseOut forwards 0.7s;
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 9;
}


.message-end {
  animation: fadeIn 1s $ExpoEaseOut forwards, fadeOut 1s $ExpoEaseOut forwards 1s;
}