.setup {
  color: $color-black-full;
  height: 100%;
  position: absolute;
  width: 100%;

  video {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .setup__qr {
    margin: 0 50px;
  }

  .setup__players {
    display: flex;
    justify-content: center;
    padding-top: 70/1920*100vw;
  }

  .setup__qr__wrapper {
    background: $color-white-full;
    border: 2px solid $color-black-full;
    text-align: center;
    width: 720/1920*100%;

    &:first-of-type {
      margin-right: 120/1920*100%;
    }
  }

  .setup__upper {
    height: 293/1920*100vw;
    position: relative;

    &.is-connected {
      .connected {
        opacity: 1;
        pointer-events: auto;
      }

      .qr {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .connected {
    opacity: 0;
    pointer-events: none;
    position: relative;

    &::before {
      background: $color-red;
      border-radius: 50%;
      content: '';
      height: 166/1920*100vw;
      position: absolute;
      width: 166/1920*100vw;
    }

    span {
      position: relative;
    }
  }

  .connected,
  .qr {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    height: 100%;
    position: absolute;
    transition: opacity .3s;
    top: 0;
    width: 100%;
  }

  .setup__player {
    align-items: center;
    border-top: 2px solid $color-black-full;
    display: flex;
    justify-content: center;
    height: 130/1920*100vw;
    text-transform: uppercase;
  }

  .qr__qr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 12/1920*100vw;
    width: 181/1920*100vw;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  .qr__url {
    line-height: 1.4;

    span {
      font-weight: bold;
      text-transform: none;
    }
  }

  .marquee {
    padding-top: 48/1920*100vw;
    white-space: nowrap;

    div {
      animation: marquee 6s infinite linear;
      display: inline-block;
    }

    @keyframes marquee {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-100%);
      }
    }
  }

  .instruction {
    overflow: hidden;
    padding: 100/1920*100vw 593/1920*100vw 40/1920*100vw;
    position: relative;

    &.is-started {
      .instruction__letsplay {
        opacity: 1;
      }
    }
  }

  // TODO: actually remove this
  .instruction__text {
    font-size: responsive-font(36);
    line-height: responsive-font(53);
    opacity: 0;
    pointer-events: none;
  }

  .instruction__letsplay {
    bottom: 0;
    left: 0;
    line-height: .8em;
    -webkit-text-fill-color: $color-white-full;
    -webkit-text-stroke-color: $color-black-full;
    -webkit-text-stroke-width: 2px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transition: opacity .2s;
    width: 100%;

    span {
      display: inline-block;
    }
  }
}
