/* ------------------------------------------------------------------ */
/*        FONT FACE DECLARATION
/* ------------------------------------------------------------------ */

// Exemple
@font-face {
  font-family: 'Fakt Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/game/fonts/Fakt-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Ginto Nord Black';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/game/fonts/ginto-nord-black.otf') format("opentype");
}


/* ------------------------------------------------------------------ */
/*        VARIABLES DECLARATION
/* ------------------------------------------------------------------ */


%Regular {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fakt Medium', serif;
}

%Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

%Bold {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ginto Nord Black';
}

/* ------------------------------------------------------------------ */
/*        APPLY TO ALL CLASS
/* ------------------------------------------------------------------ */

[class*="--light"] {
  @extend %Light;
}

[class*="--bold"] {
  @extend %Bold;
}
