@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/CalibreWeb-Regular.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/CalibreWeb-RegularItalic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/CalibreWeb-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/CalibreWeb-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/CalibreWeb-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-Semibold.woff') format('woff');
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/CalibreWeb-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/CalibreWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/CalibreWeb-SemiboldItalic.woff') format('woff');
}