@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/CalibreWeb-Regular.eot');
}

@font-face {
  font-family: Calibre;
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/CalibreWeb-RegularItalic.eot');
}

@font-face {
  font-family: Calibre;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/CalibreWeb-Bold.eot');
}