@import "~styles/imports/index";

.video {
  bottom: scaleVw(140);
  height: calc(100% - #{scaleVw(140)});
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.marqueeTop {
  background: $color-purple;
  left: 0;
  padding: scaleVw(10) 0;
  position: absolute;
  right: 0;
  top: 0;

  .marqueeTopText {
    @extend %t--body;

    color: $color-red;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}

.marqueeLeft,
.marqueeRight {
  background: $color-black;
  padding: scaleVw(6) 0 scaleVw(7);
  position: absolute;
  transform-origin: top left;
  width: 100vh;

  .marqueeSideText {
    @extend %t--h3;

    color: $color-white;
    letter-spacing: .08em;
    text-transform: uppercase;
  }
}

.marqueeLeft {
  left: 0;
  top: 100%;
  transform: rotate(-90deg);
}

.marqueeRight {
  left: 100%;
  top: 0;
  transform: rotate(90deg);
}

.banner {
  align-items: center;
  background: $color-yellow;
  bottom: 0;
  display: flex;
  height: scaleVw(140);
  justify-content: center;
  left: 0;
  padding: 0 scaleVw(24);
  position: absolute;
  right: 0;

  .title {
    @extend %t--h1;

    align-items: center;
    display: flex;
    font-size: scaleVw(52);
    line-height: scaleVw(41);

    .titleMain {
      height: scaleVw(150 * .95);
      width: scaleVw(1024 * .95);
    }
  }

  .button {
    margin-left: scaleVw(30);
  }
}
