/* Colors */
$color-black: #000;
$color-white: #fff;

/* Breakpoints */
$breakpoint-tablet: 1168px;
$breakpoint-smartphone: 920px;
$large-desktop-width: 1600px;
$short-smartphone-height: 800px;

/* Easings*/

/* Timings */
