%Regular {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fakt Medium', serif;
}

%Light {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

%Bold {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ginto Nord Black';
  text-transform: uppercase;
}

@function responsive-font($unit) {
  @return calc(#{$unit} / #{$base-width} * 100vw);
}