%t--h1 {
  font-family: 'Ginto Nord', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: scaleVw(100);
  font-weight: 900;
  line-height: scaleVw(120);

  :global(.is-control-device) & {
    font-size: 100px;
    line-height: 120px;
  }
}

%t--h2 {
  font-family: 'Ginto Nord', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: scaleVw(54);
  font-weight: 900;
  line-height: scaleVw(65);

  :global(.is-control-device) & {
    font-size: 54px;
    line-height: 65px;
  }
}

%t--h3 {
  font-family: 'Ginto Nord', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: scaleVw(28);
  font-weight: 900;
  line-height: scaleVw(34);

  :global(.is-control-device) & {
    font-size: 28px;
    line-height: 34px;
  }
}

%t--body {
  font-family: 'Fakt', sans-serif;
  font-size: scaleVw(20);
  font-weight: 700;
  line-height: scaleVw(24);

  :global(.is-control-device) & {
    font-size: 20px;
    line-height: 24px;
  }
}

%t--body-small {
  font-family: 'Fakt', sans-serif;
  font-size: scaleVw(16);
  font-weight: 700;
  line-height: scaleVw(19);

  :global(.is-control-device) & {
    font-size: 16px;
    line-height: 19px;
  }
}

%t--countdown-timer {
  font-family: 'Ginto Nord', sans-serif;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-size: scaleVw(80);
  font-weight: 900;
}

%t--number-pad {
  font-family: 'Fakt', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 31px;
}

@mixin t--shadow {
  color: $color-white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;

  &:after {
    color: $color-white;
    content: attr(data-text);
    left: 0;
    position: absolute;
    right: 0;
    text-shadow: none !important;
    -webkit-text-stroke-width: 0 !important;
    top: 0;
  }
}

%t--style-lg-shadow {
  @include t--shadow;

  text-shadow: scaleVw(10) scaleVw(10) 0 $color-black;
  -webkit-text-stroke: scaleVw(8) $color-black;

  :global(.is-control-device) & {
    text-shadow: 10px 10px 0 $color-black;
    -webkit-text-stroke: 8px $color-black;
  }
}

%t--style-sm-shadow {
  @include t--shadow;

  text-shadow: scaleVw(6) scaleVw(6) 0 $color-black;
  -webkit-text-stroke: scaleVw(8) $color-black;

  :global(.is-control-device) & {
    text-shadow: 6px 6px 0 $color-black;
    -webkit-text-stroke: 8px $color-black;
  }
}

%t--style-tiny-shadow {
  @include t--shadow;

  text-shadow: 4px 4px 0 $color-black;
  -webkit-text-stroke: 4px $color-black;
}
