/* Colors */
$color-black: #000;
$color-white: #fff;
$color-purple: #3f1bd0;
$color-red: #ec504f;
$color-yellow: #ffe945;
$color-green: #69e5ab;
$color-pink: #f4b7ed;

// TODO: delete these old vars
$color-gray: #c6c6c6;
$color-orange: #ff9d21;
$color-mint: #69e5ab;

/* Breakpoints */
$breakpoint-tablet: 1168px;
$breakpoint-smartphone: 920px;
$large-desktop-width: 1600px;
$short-smartphone-height: 800px;

$base-width: 1920;

/* Easings*/
$easing-expo-out: cubic-bezier(.19, 1, .22, 1);
$easing-quad-out: cubic-bezier(.165, .84, .44, 1);
$easing-circle-out: cubic-bezier(.075, .82, .165, 1);
$easing-circle-in-out: cubic-bezier(.785, .135, .15, .86);

/* Timings */

$grid-unit: 3.125vw;

$border-width: 2px;
$border: $border-width solid $color-black;
