/* Colors */
$color-black: #000;
$color-white: #fff;
$color-white: #e7e7e7;
$color-white-full: #fff;
$color-gray: #c6c6c6;
$color-blue: #00c1ff;
$color-green: #00f384;
$color-pink: #feb8ee;
$color-orange: #ff9d21;
$color-red: #ff4047;
$color-purple: #6d12e3;
$color-beige: #fffaf2;
$color-yellow: #ffe947;
$color-mint: #6ce9a7;

/* Breakpoints */
$breakpoint-tablet: 1168px;
$breakpoint-smartphone: 920px;
$large-desktop-width: 1600px;
$short-smartphone-height: 800px;

$base-width: 1920;

/* Easings*/

/* Timings */
