@import "~styles/imports/index";

.stageWrapper {
  height: 0;
  left: 0;
  overflow: hidden;
  padding-bottom: 1080 / 1920 * 100%;
  position: absolute;
  top: 0;
  transition: transform 1.3s $easing-circle-ease-out;
  width: 100%;
}

.stageWrapperEntering {
  transform: translateX(100%);

  .stage {
    transform: translateX(-100%);
  }
}

.stageWrapperExiting {
  transform: translateX(-100%);
  transition-timing-function: $easing-circle-ease-in-out;

  .stage {
    transform: translateX(100%);
    transition-timing-function: $easing-circle-ease-in-out;
  }
}

.stage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform 1.3s $easing-circle-ease-out;
  width: 100%;
}