@import "~styles/imports/index";

@keyframes stage-appear {
  from {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.stageWrapper {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.stageWrapperEntering {
  z-index: 100;

  .stage {
    animation: stage-appear .75s 1 both linear;
  }
}

.stageWrapperExiting {
  pointer-events: none;
}

.stage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.stripes {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 1000;
}