@import "~styles/imports/index";

.board {
  border-bottom: $border;
  border-top: $border;
  display: flex;
  height: grid(4);
  position: relative;
  z-index: 1;
}

.player {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: grid(14);

  &:last-child {
    flex-direction: row-reverse;

    .character {
      background-color: $color-red;
      border-left: $border;
      border-right: none;
      border-width: $border-width;
      display: flex;
    }

    .score {
      border-left: $border;
      border-right: none;
    }

    .name {
      text-align: right;
    }

    .items {
      justify-content: flex-start;
      left: 0;
      right: auto;
    }

    .item {
      margin-left: grid(.3);
      margin-right: 0;
    }
  }
}

.character {
  background-color: $color-purple;
  border-right: $border;
  height: 100%;
  width: grid(4);

  img,
  .characterVideo {
    width: 100%;
  }

  &.is-dead {
    filter: grayscale(100%);
  }
}

.score {
  @extend %Bold;

  border-right: $border;
  border-top: $border;
  color: transparent !important;
  display: inline-block;
  font-size: responsive-font(80);
  height: grid(3);
  line-height: grid(3);
  text-align: center;
  -webkit-text-stroke-color: $color-black;
  -webkit-text-stroke-width: 2px;
  vertical-align: middle;
  width: grid(3);
}

.name {
  @extend %Bold;

  align-items: center;
  border-top: $border;
  display: flex;
  font-size: responsive-font(48);
  height: grid(3);
  padding: grid(1);
  vertical-align: top;
  width: grid(7);
}

.items {
  align-items: center;
  display: flex;
  height: grid(1);
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: grid(10);
}

.item {
  height: grid(.5);
  margin-right: grid(.3);
  width: grid(.5);
}

.center {
  align-items: flex-end;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: center;
  padding-bottom: 2vw;
  width: grid(4);
}

.timer {
  @extend %Bold;

  font-size: responsive-font(112);
}
