@import "~styles/imports/index";

.messageContainer {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
}

@keyframes message-fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.7);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes message-fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.7);
  }
}

.message {
  @extend %t--h2;

  animation: message-fade-in 1s $easing-expo-out forwards, message-fade-out 1s $easing-expo-out forwards .7s;
  display: inline-block;
  left: 50%;
  padding-bottom: .2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &.messagePersistent {
    @extend %t--h1;
    @extend %t--style-lg-shadow;

    animation: message-fade-in 1s $easing-expo-out forwards, message-fade-out 1s $easing-expo-out forwards 1.5s;
    position: absolute;
  }
}
