@import "core/import";


section.character-choice {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 36px;

  .text {
    color: $color-white-full;
    flex-grow: 0;
    flex-shrink: 0;

    h2 {
      @extend %Bold;

      letter-spacing: 0.024em;
      font-size: 40px;
      text-transform: uppercase;
    }
    p {
      @extend %Regular;

      font-size: 16px;
      margin: 20px 0;
      text-align: center;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .block {
    align-items: center;
    background-color: $color-white-full;
    border: 1px solid $color-black;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    height: 35vw;
    margin: 0;
    width: 35vw;

    img {
      height: 100%;
      width: 100%;
    }

    video {
      width: 90%;
    }

    @media only screen and (max-height: 630px) {
      height: 60vw;
      width: 60vw;
    }
  }

  .button {
    @extend %Bold;

    background: $color-mint;
    border: 1px solid $color-black;
    letter-spacing: 0.024em;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

section.character-confirm {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 56px;

  .text {
    color: $color-white-full;
    flex-grow: 0;
    flex-shrink: 0;

    h2 {
      @extend %Bold;

      letter-spacing: 0.024em;
      font-size: 40px;
      text-transform: uppercase;
    }
    p {
      @extend %Regular;

      font-size: 16px;
      margin-top: 40px;
      text-align: center;
    }
  }

  .block {
    align-items: center;
    background-color: $color-white-full;
    border: 1px solid $color-black;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    height: 85vw;
    margin: 20px 0;
    width: 85vw;

    video {
      width: 90%;
    }

    @media only screen and (max-height: 630px) {
      height: 60vw;
      width: 60vw;
    }
  }

  .button {
    @extend %Bold;

    background: $color-mint;
    border: 1px solid $color-black;
    letter-spacing: 0.024em;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

section.in-game {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0 24px;
  text-align: center;

  *:not(.skip-tutorial) {
    pointer-events: none;
  }

  h2 {
    @extend %Bold;

    font-size: 5.98vw;
    letter-spacing: 0.007em;
    text-transform: uppercase;
  }

  .block {
    border: 1px solid $color-black;
    margin: 20px 5vw 24px;
    flex-grow: 1;
    position: relative;

    &--purple {
      background: $color-purple;
    }

    &--red {
      background: $color-red;
    }

    img {
      bottom: 4px;
      height: 100px;
      position: absolute;
      right: 0;
    }

    .score {
      @extend %Bold;

      font-size: 40vw;
      left: 50%;
      position: absolute;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $color-white-full;
      -webkit-text-stroke-width: 2px;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: .2;
    }
  }

  .marquee {
    @extend %Regular;

    font-size: 13px;
    letter-spacing: 0.008em;
    text-transform: uppercase;
  }

  .touch-bubble {
    border: 2px $color-white-full solid;
    border-radius: 50%;
    height: 74px;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%) scale(.2);
    transition: opacity .3s, transform ease-in-out .1s;
    width: 74px;

    &.is-touching {
      opacity: 1;
      transform: translate(-50%, -50%);
      transition: opacity .3s, transform ease-in-out .3s, left .1s, top .1s;;
    }
  }

  .score {
    pointer-events: none;
  }
}

section.result {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 70px;

  .winner {
    border: 1px solid $color-black;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    width: 85vw;

    @media only screen and (max-height: 630px) {
      width: 60vw;
    }
  }

  .image-wrapper {
    align-items: center;
    background: $color-white-full;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-shrink: 0;

    video {
      width: 70%;
    }
  }

  .marquee {
    @extend %Bold;

    background: $color-black;
    color: $color-white-full;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 50px;
    padding: 12px 0 9px;
    text-transform: uppercase;
  }

  .winner--tied {
    .marquee {
      &:first-of-type {
        span {
          animation-name: infinite-text-16;
          width: 8em;
        }
      }

      &:last-of-type {
        span {
          animation-name: infinite-text-21;
          width: 10.5em;
        }
      }
    }
  }

  .winner--won {
    .marquee {
      &:first-of-type {
        span {
          animation-name: infinite-text-15;
          width: 7.5em;
        }
      }

      &:last-of-type {
        span {
          animation-name: infinite-text-14;
          width: 7em;
        }
      }
    }
  }

  .winner--lost {
    .marquee {
      &:first-of-type {
        span {
          animation-name: infinite-text-18;
          width: 9em;
        }
      }

      &:last-of-type {
        span {
          animation-name: infinite-text-14;
          width: 7em;
        }
      }
    }
  }

  @keyframes infinite-text-14 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-14em);
    }
  }

  @keyframes infinite-text-15 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-15em);
    }
  }

  @keyframes infinite-text-16 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-16em);
    }
  }

  @keyframes infinite-text-18 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-18em);
    }
  }

  @keyframes infinite-text-21 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-21em);
    }
  }

  .small-text {
    @extend %Regular;

    font-size: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 27px 0;
  }

  .button {
    @extend %Bold;

    background: $color-yellow;
    border: 1px solid $color-black;
    letter-spacing: 0.024em;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 32px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

.skip-tutorial {
  @extend %Bold;

  background: $color-yellow;
  border: 1px solid $color-black;
  flex-grow: 0;
  font-size: 18px;
  left: 0;
  letter-spacing: 0.024em;
  margin: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 40%;
  width: 80%;
  z-index: 20;
  flex-shrink: 0;

  &:not(.is-shown) {
    opacity: 0;
    pointer-events: none;
  }
}

.placeholder {
  flex-grow: 1;
  flex-shrink: 0;
}

.circle {
  border-radius: 50%;
  height: 446/320*100vw;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -20%);
  width: 446/320*100vw;
  z-index: -1;

  &--yellow {
    background: $color-yellow;
  }

  &--purple {
    background: $color-purple;
  }

  &--red {
    background: $color-red;
  }

  @media only screen and (max-height: 630px) {
    transform: translate(-50%, -40%);
  }
}

section.state {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .1s;

  &:not(.is-shown) {
    opacity: 0;
    pointer-events: none;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;

  span {
    animation: infinite-text 5s linear infinite;
    display: inline-block;
  }

  &.alternate {
    span {
      text-align: center;
    }

    span.invert {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $color-white;
      -webkit-text-stroke-width: 1px;
    }
  }
}

@keyframes infinite-text {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}
