// Exemple
@font-face {
  font-family: 'Fakt Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Fakt-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Ginto Nord Black';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Ginto-Nord-Black.otf') format("opentype");
}
