html {
  box-sizing: border-box;
  overflow-x: hidden;

  &:global(.is-display-device) {
    body {
    }
  }

  &:global(.is-control-device) {
    overscroll-behavior: none;
    touch-action: none;

    body {
      overscroll-behavior: none;
      touch-action: none;
    }
  }
}

body {
  @extend %t--body;

  color: $color-black;
  overflow-x: hidden;
}

a {
  color: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

