<section class="error">
	<video class="error__background" loop autoplay muted src="../../assets/game/images/round_3/r3-intro.mp4"></video>
	<div class="error__content">
		<div class="error__title-wrapper text-80--bold">
			<span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span>
		</div>
		<div class="error__text">
			<div class="error__message text-36"></div>
			<a class="error__button text-36--bold" href="/game"></a>
		</div>
		<div class="error__timebar"></div>
		<div class="error__title-wrapper text-80--bold">
			<span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span><span>WHOOPS!</span>
		</div>
	</div>
</section>