<section class="final">
	<video class="final__background" loop autoplay muted src="../../assets/game/images/round_3/r3-intro.mp4"></video>
	<div class="final__content">
		<div class="final__title-wrapper text-80--bold">
			<span>WINNER!</span><span>WINNER!</span><span>WINNER!</span><span>WINNER!</span><span>WINNER!</span><span>WINNER!</span>
		</div>
		<div class="final__player text-40--bold uppercase">
			Player
		</div>
		<img src="../../assets/game/images/character1.png" class="final__player-img" />
		<div class="final__score text-120--bold">37</div>
		<div class="final__circle"></div>
		<div class="final__timebar"></div>
	</div>
</section>