<section class="final">
	<video class="final__background" loop autoplay muted src="../../assets/game/images/round_3/r3-intro.mp4"></video>
	<div class="final__content">
		<div class="final__title-wrapper text-80--bold">
			<span>WINNER!</span><span>WINNER!</span><span>WINNER!</span><span>WINNER!</span>
		</div>
		<div class="final__player text-40--bold uppercase"></div>
		<div class="final__players-video">
			<video src="../../assets/game/images/character-white-1.mp4" poster="../../assets/game/images/character1.png" class="final__player-video" autoplay muted playsinline loop />
		</div>
		<div class="final__score text-120--bold">0</div>
		<div class="final__circle"></div>
		<div class="final__timebar"></div>
	</div>
</section>