<section class="tutorial" id="tutorial">
  <div class="tutorial__content">
    <div class="tutorial__content__title text-48--bold uppercase">we need your help.</div>
    <div class="tutorial__content__text text-36">It’s your goal to collect the missing shapes. Simply double tap your trackpad once you spot them.</div>
  </div>
  <div class="tutorial__start t-180--bold uppercase">START</div>
  <footer>
    <div class="love text-14">
      Made with 🖤 by Upperquad
    </div>
    <div class="black-bar">
      <div class="whatup text-14">
        <div>What up tiny type that is scrolling -&nbsp;</div><div>What up tiny type that is scrolling -&nbsp;</div>
      </div>
      <div class="version text-24--bold">
        © 2019 Upperquad LLC. Ver. 6.35
      </div>
    </div>
  </footer>
</section>