<section class="tutorial" id="tutorial">
  <div class="marquee text-56">
    <div>Welcome to The Upperquadrant -&nbsp;</div><div>Welcome to The Upperquadrant -&nbsp;</div><div>Welcome to The Upperquadrant -&nbsp;</div><div>Welcome to The Upperquadrant -&nbsp;</div>
  </div>
  <div class="tutorial__card" id="tutorial-content">
    <div class="tutorial__header text-56--bold uppercase">Your instructions</div>
    <div class="tutorial__content step-1">
      <img src="../../assets/game/images/tutorial/tutorial-1.png" />
      <div class="tutorial__content__text text-48">It’s your job to collect the lost shapes.</div>
    </div>
    <div class="tutorial__content step-2">
      <img src="../../assets/game/images/tutorial/tutorial-2.png" />
      <div class="tutorial__content__text text-48">Tap on the shape when you see it using your phone screen.</div>
    </div>
    <div class="tutorial__content step-3">
      <img src="../../assets/game/images/tutorial/tutorial-3.png" />
      <div class="tutorial__content__text text-48">Hint! Be on the lookout for hidden powerups.</div>
    </div>
    <div class="tutorial__timebar">
      <div class="tutorial__timebar__color" id="tutorial-timebar-color"></div>
      <div class="tutorial__timebar__text text-40--bold" id="tutorial-timebar-number"></div>
    </div>
  </div>
  <footer>
    <div class="love text-14">
      Made with 🖤 by Upperquad
    </div>
    <div class="black-bar">
      <div class="whatup text-14">
        <div>What up tiny type that is scrolling -&nbsp;</div><div>What up tiny type that is scrolling -&nbsp;</div>
      </div>
      <div class="version text-24--bold">
        © 2019 Upperquad LLC. Ver. 6.35
      </div>
    </div>
  </footer>
</section>