@import "~styles/imports/index";

.dropText {
  @extend %t--h1;

  color: $color-red;
  padding: 1em;
  text-align: center;
}

.dropTextInner {
  @extend %t--style-lg-shadow;

  display: inline-block;
}