.final {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: grid(12);
    height: grid(12);
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: $color-black-full;
    border-width: grid(0.05);
    background-color: $color-white-full;
    overflow: hidden;
  }

  &__title-wrapper {
    background-color: $color-black-full;
    height: grid(2);
    white-space: nowrap;
    overflow: hidden;
    @keyframes infinite-text {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translateX(-200%);
      }
    }
    & > span {
      animation: infinite-text 5s linear infinite;
      line-height: grid(2);
      display: inline-block;

      &:nth-child(odd) {
        color: $color-white-full;
        -webkit-text-stroke-width: grid(0.03);
        -webkit-text-stroke-color: $color-black-full;
      }

      &:nth-child(even) {
        color: $color-black-full;
        -webkit-text-stroke-width: grid(0.03);
        -webkit-text-stroke-color: $color-white-full;
      }
    }
  }

  &__player {
    text-align: center;
    margin-top: grid(0.5);

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: grid(4);
      transform: translate(-50%, -50%);
    }
  }

  &__score {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__circle {
    position: absolute;
    bottom: 0;
    width: grid(6);
    height: grid(6);
    left: 50%;
    border-radius: 50%;
    border-style: solid;
    border-color: $color-black-full;
    border-width: grid(0.05);
    transform: translate(-50%, 50%);
  }

  
}