.scene-svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  #player1 {
    stroke: $color-purple;
  }

  #player2 {
    stroke: $color-red;
  }

  .cursor {
    stroke-width: grid(0.1);
    &.good {
      fill: green !important;
    }

    &.wrong {
      fill: red !important;
    }
  }
}

.scene-svg__clippath-ref {
  // opacity: 0;
}

.scene-svg__image {
  // opacity: 0.5;
}