.setup {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
  position: absolute;
	width: 100%;
}

.setup__qr {
  margin: 0 50px;
}

.qr__qr {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  width: 200px;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}