.color {
  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }

  &--gray {
    color: $color-gray;
  }

  &--blue {
    color: $color-blue;
  }

  &--red {
    color: $color-red;
  }
}