[class*="text"] {
  line-height: 1.6em;

  @include mobile {
    line-height: 1.4em;
  }
}

[class*="-16"] {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
}

[class*="-24"] {
  font-size: 2.4rem;
}

[class*="-32"] {
  font-size: 3.2rem;
}

[class*="-64"] {
  font-size: 6.4rem;
}

[class*="-120"] {
  font-size: 12.0rem;
}

.text-hollow {
  line-height: 1em;
  white-space: nowrap;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}