<html ng-app="phoneApp">
  <head>
    <title>Controller - Upperquad SFDW 2019</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  </head>
  <body ng-controller="PhoneController as phoneCtrl" ng-class="{'is-ready': phoneCtrl.ready}">
    <section class="token-pad state" ng-class="{'is-shown': (!phoneCtrl.connected && !phoneCtrl.isConnecting)}" >
    <!-- <section class="token state"> -->
      <div class="circle circle--yellow"></div>
      <h2>Enter the code to&nbsp;join</h2>
      <div class="display">
        {{phoneCtrl.token}}
      </div>
      <div class="label">
        <span class="error" ng-if="phoneCtrl.errorReason !== null">{{phoneCtrl.errorReason}}</span>
        <span class="connecting" ng-if="phoneCtrl.isConnecting">Connecting...</span>
      </div>
      <div class="token-input">
        <div class="token-input-key"
            ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
            ng-click="phoneCtrl.tokenKey(i)">{{i}}</div>
        <div class="token-input-key"
            ng-click="phoneCtrl.tokenKey(-1)">←</div>
      </div>
      <div class="placeholder"></div>
      <div class="bottom">
      </div>
    </section>

    <section class="character-confirm state" ng-class="{'is-shown': (phoneCtrl.accepted && !phoneCtrl.userConfirmed)}" >
    <!-- <section class="character-confirm state" > -->
      <div class="circle circle--{{phoneCtrl.character.color}}"></div>
      <div class="text"><h2>You're in!</h2><p>Say hello to your avatar.</p></div>
      <div class="block">
        <video src="{{phoneCtrl.character.videoWhite}}" poster="{{phoneCtrl.character.image}}" playsinline autoplay muted loop></video>
      </div>
      <div class="placeholder"></div>
      <div class="ready">Ready?</div>
      <div class="button" role="button" ng-click="phoneCtrl.handleConfirm()">Start</div>
    </section>

    <section id="touchpad" class="in-game state" ng-class="{'is-shown': (phoneCtrl.accepted && phoneCtrl.userConfirmed && phoneCtrl.result === null)}">
    <!-- <section id="touchpad" class="in-game state is-shown"> -->
      <h2 class="color--{{phoneCtrl.opponent.color}}">The Upperquadrant</h2>
      <div class="block block--{{phoneCtrl.character.color}}">
        <div class="score">
          {{phoneCtrl.score}}
        </div>
        <img src="{{phoneCtrl.character.image}}" />
      </div>
      <div class="marquee"><span>What up tiny type that is distracting — </span><span>What up tiny type that is distracting — </span><span>What up tiny type that is distracting — </span></div>
      <div class="touch-bubble" id="touch-bubble"></div>
    </section>

    <section class="result state" ng-class="{'is-shown': (phoneCtrl.result !== null)}" >
    <!-- <section class="result state"> -->
      <div class="circle circle--{{phoneCtrl.result === 'won' ? phoneCtrl.character.color : (phoneCtrl.result === 'lost' ? phoneCtrl.opponent.color : 'yellow' )}}"></div>
      <div class="winner">
        <div class="marquee alternate"><span>{{phoneCtrl.resultTop}}</span><span>{{phoneCtrl.resultTop}}</span><span>{{phoneCtrl.resultTop}}</span><span>{{phoneCtrl.resultTop}}</span></div>
        <div class="image-wrapper {{phoneCtrl.result === 'tied' ? 'image-wrapper--both' : null}}">
          <video ng-if="(phoneCtrl.result === 'tied' || phoneCtrl.result === 'won')" src="{{phoneCtrl.character.videoWhite}}" poster="{{phoneCtrl.character.image}}" playsinline autoplay muted loop></video>
          <video ng-if="(phoneCtrl.result === 'tied' || phoneCtrl.result === 'lost')" src="{{phoneCtrl.opponent.videoWhite}}" poster="{{phoneCtrl.opponent.image}}" playsinline autoplay muted loop></video>
        </div>
        <div class="marquee alternate"><span>{{phoneCtrl.resultBottom}}</span><span>{{phoneCtrl.resultBottom}}</span><span>{{phoneCtrl.resultBottom}}</span><span>{{phoneCtrl.resultBottom}}</span></div>
      </div>
      <div class="small-text">{{phoneCtrl.result === 'tied' ? 'Tie!' : 'Winner!'}}</div>
      <div class="button" ng-click="phoneCtrl.playAgain()">Play again</div>
    </section>
  </body>
</html>
