@import "~styles/imports/index";

.board {
  background: $color-green;
  border-top: scaleVw(4) solid $color-black;
  bottom: 0;
  display: flex;
  height: calc(#{grid(4)} - #{scaleVw(4)});
  left: 0;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  z-index: 1;
}

.boardEntering {
  opacity: 0;
}

.player {
  align-items: flex-end;
  display: flex;
  position: relative;
  width: grid(14);
}

.character {
  background-color: $color-purple;
  height: 100%;
  width: grid(4);

  img,
  .characterVideo {
    width: 100%;
  }

  &.characterLost {
    filter: grayscale(100%);
  }
}

.score {
  color: transparent !important;
  display: inline-block;
  font-size: responsive-font(80);
  height: grid(3);
  line-height: grid(3);
  text-align: center;
  vertical-align: middle;
  width: grid(3);
}

.items {
  align-items: center;
  display: flex;
  height: grid(1);
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: grid(10);
}

.item {
  height: grid(.5);
  margin-right: grid(.3);
  width: grid(.5);
}

.player--2 {
  flex-direction: row-reverse;

  .character {
    background-color: $color-red;
    display: flex;
  }

  .score {
  }

  .items {
    justify-content: flex-start;
    left: 0;
    right: auto;
  }

  .item {
    margin-left: grid(.3);
    margin-right: 0;
  }
}

.center {
  align-items: flex-end;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: center;
  padding-bottom: 2vw;
  width: grid(4);
}

.timer {
  font-size: responsive-font(112);
}
