@import "~styles/imports/index";

.board {
  border-top: scaleVw(4) solid $color-black;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: grid(4);
  left: 0;
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  z-index: 15;
}

.boardEntering {
  opacity: 0;
}

.playerMeta {
  align-items: center;
  background: $color-green;
  border-left: scaleVw(4) solid $color-black;
  border-right: scaleVw(4) solid $color-black;
  display: flex;
  flex: grid(9) 1 1;
  justify-content: space-around;
  position: relative;
}

.timer {
  flex: grid(6) 0 0;
  text-align: center;

  .timerInt {
    @extend %t--h1;

    color: $color-white;
    display: inline-block;
    font-size: scaleVw(80 / .9);
    margin-right: scaleVw(10);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: scaleVw(64 / .9);
    text-align: right;
    -webkit-text-stroke: scaleVw(4) $color-black;
    width: scalevw(140);
  }

  .timerFrac {
    @extend %t--body;

    display: inline-block;
    font-size: scaleVw(20 / .9);
    line-height: scaleVw(24 / .9);
    text-align: left;
    width: scalevw(40);
  }
}

.character {
  flex: grid(4) 0 0;

  .characterVideo {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &.characterLost {
    filter: grayscale(100%);
  }
}

.score {
  @extend %t--h2;
  @extend %t--style-sm-shadow;

  background: $color-white;
  border-radius: 50%;
  flex: scaleVw(100 / .9) 0 0;
  font-size: scaleVw(54 / .8);
  height: scaleVw(100 / .9);
  line-height: scaleVw(65 / .8);
  padding-top: scaleVw(8);
  text-align: center;
}

.power {
  border: 1px solid red;
  flex: scaleVw(80 / .9) 0 0;
  height: scaleVw(80 / .9);
}

.items {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex: scaleVw(90) 0 0;
  height: scaleVw(130);
  justify-content: space-between;
}

@keyframes item-appear {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.item {
  height: scaleVw(23);
  width: scaleVw(23);

  &.itemSnack {
    animation: item-appear .15s 1 both;
    object-fit: contain;
  }

  &.itemPlaceholder {
    position: relative;

    &::before {
      background: $color-black;
      border-radius: 50%;
      content: '';
      height: scaleVw(5);
      left: 50%;
      opacity: .5;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: scaleVw(5);
    }
  }
}

.playerMeta--2 {
  flex-direction: row-reverse;
}
